.DS_Store
.ipynb_checkpoints/
bin/
include/
lib/
share/
pyvenv.cfg

# Lab Generated Data
*.csv
*.parquet
lakehouse/
bad_partitioning/
agent.md

# Solutions
Online_Retail_Week3_Solution.ipynb
BigData_Week4_Spark_DeepDive_Solution.ipynb

# Exam
./exam/
*.docx
*.doc